.bepro {
  margin: 15px 0px 50px 0px;
}

.gadpro {
  display: grid;
  grid-gap: 10px;
  margin: 10px 0px;
}

@media (min-width: 800px) {
  .gadpro {
    justify-content: center;
  }
}

.pro-header {
  margin: auto;
}

.gadpro-body h3 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.customTextInput label {
  font-weight: bolder;
}

.customTextInput {
  display: grid;
  padding: 10px;
}

.customTextInput input {
  margin-top: 5px;
}

.text-input[placeholder] {
  padding: 0px 10px;
  font-style: italic;
}

.bepro .double {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.bepro .triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about .text-input {
  height: 100px;
  margin: -14px 0px;
}

.bepro submitForm {
  display: grid;
  margin: auto;
  padding: 7px 50px;
  background: blue;
  color: white;
  border-radius: 30px;
}

.bepro submitForm:hover {
  background: red;
}

.error {
  color: red;
}

@media (max-width: 768px) {
  .pro-header h1 {
    font-size: 2rem;
    text-align: center;
  }
  .gadpro {
    margin: 10px 0px;
  }
  .gadpro-body h3 {
    width: 100%;
  }
  .bepro .double {
    grid-template-columns: repeat(2, auto);
  }
  .bepro .triple {
    grid-template-columns: auto;
  }
  .customTextInput .text-input[placeholder] {
    width: 100%;
  }
  .artisanpro-wrapper {
    margin-bottom: -20px;
  }
}

.bepro .about .customTextInput label {
  padding-bottom: 20px;
}

label {
  margin-bottom: 0px !important;
}

input#dateExample8 {
  width: 100%;
}

.form-element .datePicker-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 10px;
}

button.submitForm {
  width: 15%;
  display: grid;
  /* justify-content: center; */
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}

button.submitForm:hover {
  background-color: red;
}

.form-wrapper .about {
  margin-bottom: 10px;
}

.form-element.dropzone {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .form-element.dropzone {
    margin: auto;
    width: 94%;
  }
  button.submitForm {
    margin-top: 15px;
    width: 20%;
}
}
