.footer {
  display: grid;
  grid-template-rows: 200px 35px;
  grid-gap: 10px;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 0px;
}

.footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-items: center; */
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-top: 1px dotted black;
}

.section-1 {
  display: grid;
  align-items: center;
  width: auto;
  font-size: 20px;
  padding-left: 40px;
}

.section-1 h4 {
  color: black;
}

.section-1 a {
  font-size: 18px;
  transition: all 0.5s;
}

.section-1 a:hover {
  color: red;
  font-size: 20px;
}

.section-1 li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.footer-bottom .love {
  color: red;
  font-size: 25px;
}

.verrb {
  display: none;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .footer {
    grid-template-columns: auto;
    padding: 20px;
    grid-template-rows: auto 30px;
  }
  .footer-main {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .section-1 {
    padding: 0px 0px 20px 0px;
  }
}
