.make_red {
  color: red;
}

header {
  margin-bottom: 18px;
}

header .nav-link a {
  color: white !important;
}
.logo h1 {
  margin: 0px;
  /* padding-left: 10px;
  padding-top: 6px; */
  color: white !important;
}

.login-signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  color: white;
}

.button .btn {
  background: rgba(49, 29, 206, 0.89);
  color: white;
  border-radius: 50px;
  padding: 2px 7px 4px 8px;
}

.button .btn:hover {
  background: rgba(0, 0, 0, 0.3);
  color: red;
}

.contact-list .icons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20px 20px;
}

.login-signup .btn {
  padding: 4px;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .header .contact-list {
    grid-template-columns: auto auto;
  }
  .header .login-signup {
    display: none;
  }

  .header {
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
  }

  .header .contact-list {
    grid-template-columns: auto auto auto;
  }

  .logo h1 {
    font-size: 20px;
    margin-top: 15px;
    font-size: 2rem;
  }
  .login-signup {
    grid-template-columns: auto auto;
  }
  .logo a h1 {
    font-size: 25px !important;
    margin-top: -1px;
  }
  .username h3 {
    font-size: 1rem;
    text-align: center;
  }

  .user-description p {
    text-align: center;
    margin: 10px 0px;
    font-size: 0.9rem;
    margin: auto auto;
  }
}
