@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

span.greet {
  color: red;
}

.greeting h1 {
  font-size: xx-large !important;
}

.index {
  display: grid;
}

.index h1 {
  text-align: center;
  padding-top: 10px;
}

.index p {
  text-align: center;
  margin-top: 10px;
}

.index hr {
  align-content: center;
  width: 50%;
  margin: auto auto;
  color: violet;
}

.artisans {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 20px;
}

.howGadWorks {
  display: grid;
  grid-template-rows: 20px 2fr;
  background: whitesmoke;
  padding: 10px;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
}

.howGadWorks img {
  height: 100px;
  width: 100px;
  margin: auto auto;
  display: grid;
  padding: 10px;
}

.howGadWorks h3 {
  text-align: center;
  grid-column: 1/-1;
}
.howGadWorks h4 {
  text-align: center;
  font-size: 1.2rem;
}
.searchArtisans {
  display: grid;
  justify-content: center;
  padding: 0px;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .howGadWorks h4 {
    text-align: center;
    font-size: 1rem;
  }

  h1.title {
    margin: 0px !important;
  }
  .data {
    padding-bottom: 5px;
  }
  .data .menu-content {
    display: none;
  }
  .content .author {
    display: none;
  }
  label.menu-button {
    display: none;
  }
  .data input#show-menu {
    display: none !important;
  }
  .data h1 {
    margin: 0px;
  }
  .wrapper .data {
    height: 40px;
    padding: 0px 0px 10px 0px;
    background: white;
  }
  .header .logo {
    margin-top: -5px;
    text-align: center;
    padding: 0px;
  }
  .greetuser h1 {
    font-size: 20px;
  }
  .howGadWorks {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .howGadWorks {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* form css */
/*-------------------------------------*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/*-------------------------------------*/
@media (min-width: 1200px) {
  .form-wrap {
    width: 450px !important;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .greetuser {
    font-size: 14px !important;
    line-height: 1.2rem;
  }
  .form-wrap {
    width: 85% !important;
  }
  .form-wrap button {
    width: 30% !important;
  }
  .form-wrap input {
    width: 65% !important;
  }
  .example-1:nth-child(3) {
    display: none;
  }
  .example-1:nth-child(4) {
    display: none;
  }
  .example-1:nth-child(7) {
    display: none;
  }
  .example-1:nth-child(8) {
    display: none;
  }
}

.form-wrap {
  /* padding: 15px; */
  margin: 20px auto 20px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
}

.form-wrap input {
  width: 330px;
  margin: 10px 0px 10px 10px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px "lucida sans", "trebuchet MS", "Tahoma";
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.form-wrap input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.form-wrap input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrap input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrap input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrap button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px "lucida sans", "trebuchet MS", "Tahoma";
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.form-wrap button:hover {
  background: #e54040;
}

.form-wrap button:active,
.form-wrap button:focus {
  background: #c42f2f;
}

.form-wrap button:before {
  content: "";
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

.form-wrap button:hover:before {
  border-right-color: #e54040;
}

.form-wrap button:focus:before {
  border-right-color: #c42f2f;
}

.form-wrap button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1.title:hover {
  color: red !important;
}
