.MovingNav {
  margin: 0px 110px;
  background: black;
  opacity: 0.6;
}

.MovingNav a {
  font-size: 0.8rem;
}

.MovingNav ul {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(2, auto);
}

.MovingNav ul li a {
  color: white;
  text-decoration: none;
}

.MovingNav ul li {
  padding: 12px 0px;
  text-align: center;
  list-style: none;
  border: 1px solid gray;
}

.MovingNav ul li a:hover {
  color: yellow;
  transition: all 0.5s;
  font-size: 15px;
}

@media (max-width: 768px) {
  .MovingNav {
    display: none;
  }
}
